$font-stack: 'Roboto', sans-serif;

body{
    font-family: $font-stack;
    background-color: #ecf3f3;
    padding: 44px;
    background-image: url('../css/Images/bg-grid.png');
    background-repeat: repeat-y;
    background-position: center;
}

a{
    text-decoration: none;
}

body:before{
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: white solid 24px;
    z-index: 99
}

.section-number{
    color: #f6f9f9;
    position: absolute;
    z-index: -1;
    font-size: 212px;
    font-weight: 600;
}

.section-title{
    p{
        position: absolute;
        font-size: 100px;
        color: #20feb1;
        font-family: 'Gloria Hallelujah', cursive;
        opacity: 0.8;
    }
}

.section-wrapper{
    max-width: 700px;
    margin-left: 170px;
    margin-top: 50px;
}

.cta{
    padding: 14px;
    border: solid #000 5px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 20px;
    white-space: nowrap;
    color: #000;
    text-decoration: none;
    position: absolute;
    padding-right: 66px;
        .black-box{
            background-color: #000;
            width: 54px;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .fa{
            color: #fff;
        }
}

.section-1{
    max-width: 960px;
    margin: 0 auto;
        .photo{
            padding-top: 75%;
            background-image: url('../css/Images/hipster.jpg');
            background-position: top;
            box-shadow: 0px 80px 110px -40px rgba(86, 119, 119, 0.68), 0px 5px 20px rgba(0, 0, 0, 0.1);
            filter: grayscale(70%);
            opacity: 0.7;
        }

        .section-number{
            top: -5px;
            left: 140px;
        }

        .section-title{
            width: 900px;
                p{ 
                    top: -55px;
                    right: 190px;
                }
        }

        .section-description{
            width: 290px;
            margin-left: -139px;
            margin-top: -280px;
            position: relative;
            margin-bottom: 50px;
            line-height: 48px;
        }
}



.youtubeVideo{
    background-image: url('../css/Images/youtube.png');
    display: block;
    position: absolute;
    background-position: center;
    height: 271px;
    width: 485px;
    box-shadow: 0px 57px 34px -40px rgba(0, 0, 0, 0.3), 0px 3px 40px 2px rgba(0, 0, 0, 0.2);
    margin-top: 68px;
    left: 204px;
}


.section-2{
    margin-top: 200px;

        .section-wrapper{
            max-width: 620px;
            margin-left: 190px;
            height: 431px;
            background-color: #fff;
            box-shadow: 0px 80px 110px -40px rgba(86, 119, 119, 0.68), 0px 5px 20px rgba(0, 0, 0, 0.1);
        }

        .section-number{
            right: 246px;
            margin-top: -95px;
        }

        .section-title{
            width: 900px;
                p{ 
                    margin-top: -100px;
                }
        }

        .section-description{
            position: absolute;
            width: 320px;
            right: 250px;
            margin-top: 23px;
            line-height: 48px;
        }

        .cta{
            margin-top: 373px;
            right: 312px;
        }

}

.section-3{
    margin-top: 150px;
        .section-wrapper{
            max-width: 620px;
            margin-left: 280px;
            height: 431px;
            background-color: #fff;
            box-shadow: 0px 80px 110px -40px rgba(86, 119, 119, 0.68), 0px 5px 20px rgba(0, 0, 0, 0.1);
        }

        .section-number{
            left: 140px;
            margin-top: -104px;
        }

        .cta{
            margin-top: -58px;
            right: 312px;
        }

        .section-title{
            width: 900px;
            display: flex;
            justify-content: center;
                p{ 
                    margin-top: -100px;
                }
        }

        .section-description{
            width: 290px;
            margin-left: -139px;
            line-height: 48px;
            margin-top: 130px;
            position: absolute;
        }

        .portfolio{
            display: flex;
            align-items: center;
            height: 100%;
                img{
                    width: 100%;
                    display: flex;
                    opacity: 0.8;
                }
        }
}

.section-4{
    margin-top: 200px;
        .section-wrapper{
            max-width: 620px;
            margin-left: 190px;
            height: 200px;
            background-color: #fff;
            box-shadow: 0px 80px 110px -40px rgba(86, 119, 119, 0.68), 0px 5px 20px rgba(0, 0, 0, 0.1);
        }

        .section-number{
            right: 246px;
            margin-top: -95px;
        }

        .section-title{
            width: 900px;
                p{ 
                    margin-top: -100px;
                }
        }

        .social{
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: space-around;
                i{
                    font-size: 40px;
                }
                i:hover{
                    color: #20feb1;
                    font-size: 55px;
                }
        }
}


@import 'media'